
services:

  traefik:

    labels:
      - traefik.enable=true

      - traefik.http.routers.traefik-http.rule=Host(`${TRAEFIK_DOMAIN}`)
      - traefik.http.routers.traefik-http.entrypoints=web
      - traefik.http.routers.traefik-http.middlewares=auth
      - traefik.http.routers.traefik-http.service=api@internal

      - traefik.http.routers.traefik-https.rule=Host(`${TRAEFIK_DOMAIN}`)
      - traefik.http.routers.traefik-https.entrypoints=websecure
      - traefik.http.routers.traefik-https.middlewares=auth
      - traefik.http.routers.traefik-https.service=api@internal
      - traefik.http.routers.traefik-https.tls=true
      - traefik.http.routers.traefik-https.tls.certresolver=${TRAEFIK_CERT_RESOLVER}

      # - traefik.http.middlewares.to-https.redirectscheme.scheme=https
      - traefik.http.middlewares.auth.basicauth.users=${TRAEFIK_USER}:${TRAEFIK_PASSWORD_HASH}

  passbolt:
    environment:
      - EMAIL_TRANSPORT_DEFAULT_HOST=${EMAIL_TRANSPORT_DEFAULT_HOST}
      - EMAIL_TRANSPORT_DEFAULT_PORT=${EMAIL_TRANSPORT_DEFAULT_PORT}
    depends_on:
      - mariadb
      - smtp

  mariadb:
    image: mariadb:10.11
    container_name: passbolt_db
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${DATASOURCES_DEFAULT_DATABASE}
      - MYSQL_USER=${DATASOURCES_DEFAULT_USERNAME}
      - MYSQL_PASSWORD=${DATASOURCES_DEFAULT_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    restart: unless-stopped
    ports:
      - "3306:3306"

  smtp:
    image: namshi/smtp
    container_name: passbolt_smtp
    environment:
      - RELAY_NETWORKS=:10.0.0.0/8:172.16.0.0/12:192.168.0.0/16
    restart: unless-stopped
    ports:
      - "25:25"

volumes:
  mysql_data:
